appdirs==1.4.4
asgiref==3.3.1
cfgv==3.2.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.5
django-environ==0.4.5
filelock==3.0.12
gunicorn==20.0.4
identify==1.5.13
nodeenv==1.5.0
pre-commit==2.9.3
psycopg2-binary==2.8.6
pytz==2020.5
PyYAML==5.3.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.0
whitenoise==5.2.0
