<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Title -->
		<title>Timeline Makeathon</title>

		<!-- Css -->
		<link rel="stylesheet" href="./static/css/style.css" />
	</head>
	<body onscroll="scrollEvents()">
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<section id="timeline">
			<div id="days">
				<h2><button id="day-1" onclick="showAgain()">Day 1</button></h2>
				<h2><button id="day-2" onclick="show()">Day 2</button></h2>
			</div>

			<div id="events">
				<div id="day-1-events">
					<p><button>A</button></p>
					<p><button>B</button></p>
					<p><button>C</button></p>
					<p><button>D</button></p>
					<p><button>E</button></p>
					<p><button>F</button></p>
					<p><button>G</button></p>
					<p><button>H</button></p>
					<p><button>I</button></p>
					<p><button>J</button></p>
					<p><button>K</button></p>
					<p><button>L</button></p>
					<p><button>M</button></p>
					<p><button>N</button></p>

					<p><button>A</button></p>
					<p><button>B</button></p>
					<p><button>C</button></p>
					<p><button>D</button></p>
					<p><button>E</button></p>
					<p><button>F</button></p>
					<p><button>G</button></p>
					<p><button>H</button></p>
					<p><button>I</button></p>
					<p><button>J</button></p>
					<p><button>K</button></p>
					<p><button>L</button></p>
					<p><button>M</button></p>
					<p><button>N</button></p>
				</div>
				<div id="day-2-events">
					<p><button>Day 2</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Lorem</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
					<p><button>Lorem</button></p>
					<p><button>Ipsum</button></p>
				</div>
			</div>

			<script src="static/js/index.js"></script>
			<script src="static/js/index2.js"></script>
		</section>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
		<p>Hello</p>
	</body>
</html>
