{% load static %}

<style>
	#prizes .content, 
	#speakers_and_judges .content {
		width: 100vw;
		backdrop-filter: blur(10px);
		height: 100vh;
	}
	@-moz-document url-prefix() {
		#speakers_and_judges .content, 
		#prizes .content {
			background-color: rgba(255, 255, 255, 0.26);
		}
	}
</style>

<section id="prizes" style="height: 100vh; width: 100vw">
  <div class="content">
    <div
      class="anno"
      style="
        width: 100vw;
        backdrop-filter: blur(10px);
        height: 100vh;
        vertical-align: middle;
      "
    >
      <h2
        class="heading"
        style="justify-content: center; font-family: Anurati, sans-serif"
      >
        Prizes
      </h2>
      <h3 style="color: beige; text-align: center">TO BE ANNOUNCED SOON</h3>
    </div>
  </div>
</section>
