@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.section {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* title */

.titles {
  text-align: center;
  z-index: 1;
}

#heading {
  padding-top: 90px;
  margin: auto;
  width: 70%;
  height: 59%;
  object-fit: cover;
}
/* ---------------Sidenavbar--------------- */

/* Sidenav */

.mysidenav {
  z-index: 3;
  float: left;
  position: absolute;
  top: -20%;
  left: 1%;
  height: 100%;
}

.icon {
  padding: 50% 50%;
  font-size: 150%;
  width: 200%;
  margin: 30% 30%;
  background-size: 25%;
  background-color: #ffcff4;
  color: rgb(0, 0, 0);
  border-radius: 1.5rem;
}

.mysidenav ul li::after {
  position: absolute;
  background: #f24385;
  color: rgb(255, 255, 255);
  top: 1.6%;
  font-size: 1rem;
  font-weight: bold;
  left: 3.5rem;
  width: 7rem;
  text-align: center;
  height: 11%;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transform: perspective(30rem) rotateY(90deg);
  transform-origin: 0%;
  transition: all 0.4s ease-out;
}

.mysidenav ul li:nth-child(1)::after {
  content: "About";
  line-height: 2.9rem;
}
.mysidenav ul li:nth-child(2)::after {
  content: "Schedule";
  line-height: 2.9rem;
  margin: 262% 0;
}
.mysidenav ul li:nth-child(3)::after {
  content: "Sponsors";
  line-height: 2.9rem;
  margin: 521% 0;
}
.mysidenav ul li:nth-child(4)::after {
  content: "FAQs";
  line-height: 2.9rem;
  margin: 779% 0;
}
.mysidenav ul li:nth-child(5)::after {
  content: "Awards";
  line-height: 2.9rem;
  margin: 1039% 0;
}
.mysidenav ul li:nth-child(6)::after {
  content: "Our Team";
  line-height: 2.9rem;
  margin: 1301% 0;
}
.mysidenav ul li:nth-child(7)::after {
  content: "Contact";
  line-height: 2.9rem;
  margin: 1561% 0;
}

.mysidenav ul li:hover:after {
  transform: perspective(10rem);
}

.icon:hover {
  background: #f24385;
  color: white;
  border-radius: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

ul.ba {
  list-style-type: none;
}

#options {
  position: absolute;
  margin-left: 5%;
  bottom: 0;
  padding: 0;
  float: left;
}


span.M {
  color: #ff5abd;
  mix-blend-mode: color-dodge;
  z-index: 1;
}

span.B {
  top: 0.5px;
  left: 0px;
  position: absolute;
  color: #3965ff;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(-4px 0px 10px #022bff);
  z-index: 2;
}

span.Y {
  top: 1px;
  left: 0px;
  position: absolute;
  color: #edff1f;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(2px 0px 8px rgba(255, 255, 46, 0.6));
  z-index: 3;
}

span.C {
  top: 1.5px;
  left: 0px;
  position: absolute;
  color: #5affba;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(0px 2px 4px rgba(90, 255, 245, 0.25));
  z-index: 4;
}

span.M2 {
  top: 2px;
  left: 0px;
  position: absolute;
  color: #ff5abd;
  mix-blend-mode: color-dodge;
  z-index: 5;
}

span.B2 {
  top: 2.5px;
  left: 0px;
  position: absolute;
  color: #3965ff;
  z-index: 6;
}

span.Y2 {
  top: 3px;
  left: 0px;
  position: absolute;
  color: #edff1f;
  mix-blend-mode: color-dodge;
  filter: drop-shadow(2px 0px 8px rgba(255, 255, 46, 0.6));
  z-index: 7;
}

/* timer */

.timerspan {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15%;
  margin: 0px 5px;
  padding: 0px 10px;
  position: relative;
  display: inline-block;
  font-style: italic;
}

#demo {
  font-weight: 800;
  color: #ffffff;
}
/* responsive sidebar */

@media (max-width: 1025px) {
  .mysidenav {
    display: none;
  }

  .navigation {
    display: none;
    margin: auto;
    position: absolute;
    width: 30%;
    height: 100%;
    bottom: 0rem;
    transition: 0.4s;
    background: rgba(229, 19, 19, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    z-index: 5;
  }

  .navigation ul {
    position: absolute;
    top: 2rem;
    width: 100%;
  }

  .navigation ul li {
    list-style: none;
    padding: 3% 2%;
  }

  .navigation ul li a:hover {
    background: #ea1d63;
    margin: 1% 2%;
    padding-top: 3%;
    padding-left: 20%;
    border-radius: 50px;
    height: 40px;
    z-index: 6;
  }

  .navigation ul li a {
    position: relative;
    display: flex;
    padding: auto;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .navigation ul li a .icons {
    min-width: 0.2rem;
    height: 3.75rem;
    line-height: 1.9rem;
    padding-left: 4%;
  }

  .navigation ul li a .title {
    padding: 0 0.5rem;
    line-height: 2rem;
    z-index: 2;
  }

  /* cross */
  .toggle .fa-window-close {
    position: absolute;
    cursor: pointer;
    color: white;
    padding: 1.2% 0.5%;
    top: 0;
    right: 0;
    width: 3.75rem;
    z-index: 6;
    font-size: 200%;
  }

  /* lines*/
  .toggle .fa-bars {
    position: absolute;
    cursor: pointer;
    color: white;
    padding: 15px 10px;
    top: 0;
    right: 0;
    width: 3.75rem;
    z-index: 6;
    font-size: 150%;
  }

  .toggle:before {
    z-index: 6;
  }
}
/* ---------------Timer Styling--------------- */

/* timer styling */

.wrapper-class {
  position: relative;
  display: inline-block;
}

span.number {
  font-family: "Lucida Sans";
  font-style: medium;
  font-weight: 600;
  font-size: 4rem;
  letter-spacing: 0.1em;
}


/* Media queries */
/* Hiding Toggle bar for particular widths */
@media (min-width: 1300px) {
  .toggle {
    visibility: hidden;
  }
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  #heading {
    margin: auto;
    width: 90%;
    height: 75%;
  }
}

.devfolio {
  z-index: 3;
  text-align: center;
  padding-top: 0.5%;
}

.devimg {
  width: 25%;
  height: 25%;
}

@media (max-width: 700px) {
  .devfolio {
    z-index: 3;
    text-align: center;
    padding-top: 2%;
  }

  .devimg {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 608px) {
  .navigation {
    display: none;
    position: absolute;
    width: 60%;
    height: 100%;
    bottom: 0rem;
    transition: 0.4s;
    background: rgba(229, 19, 19, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    z-index: 5;
  }
  .navigation.active {
    left: 0rem;
    width: 100%;
  }
}



/* responsive timer */

@media (max-width: 582px) {
  .timerspan {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15%;
    font-size: 200%;
    padding: 0.1%;
    margin: 1%;
    display: inline;
  }
}
.timer{
  padding: 10px;
  margin-bottom: 70px;
}

#tleft {
  z-index: 5;
  position: relative;
}

/* responsive time-left */
@media (max-width: 375) {
  #heading {
    margin-top: 45%;
    width: 120vh;
    height: 120vh;
    object-fit: cover;
  }
}
@media (max-height: 880px) {
  .section {
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media (min-width: 745px) {
  .devimg {
    width: 20%;
    height: 30%;
  }
}
@media (max-width: 744px) {
  .devimg {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 430px){
   .timer {
    padding: 0;
  }
}
@media (min-width:1030px){
 .timer{
   flex-flow: column nowrap;
   align-items: center;
   margin: auto;
   width: max-content;
   text-align: right;
 }
}
@media (max-height: 550px) {
  .section {
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media (max-width: 582px) {
  #heading {
    margin-top: 33%;
    width: 95vw;
    object-fit: cover;
  }
  .devimg {
    width: 40%;
    height: 40%;
  }
}

@media (max-width: 600px) {
  span.number {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  span.number {
    font-size: 1.8rem;
  }
}

/* iPhone 5/SE */
@media (height: 320px) and (width: 568px) {
  #heading {
    margin: auto;
    width: 70%;
    height: 59%;
    object-fit: cover;
  }
}
/* iPad  Makeathon*/
@media (width: 768px) and (height: 1024px){
  #heading{
    width: 80%;
    height: 60%;
  }
}












