#pre-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: #372963;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999999999;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
     -moz-transform-origin: center;
      -ms-transform-origin: center;
       -o-transform-origin: center;
          transform-origin: center;

  -webkit-transition: -webkit-transform 0.3s ease-in-out;

  transition: -webkit-transform 0.3s ease-in-out;

  -o-transition: -o-transform 0.3s ease-in-out;

  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;

  transition: transform 0.3s ease-in-out;

  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}
