*{
  margin:0;
  padding:0;
}

#tracks {
  background-image: url("../images/tracksbg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  min-height: 100vh;
  width: 100%;
}

/* TEXT BOXES */

.text{
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  position: absolute;
  width:120px;
  height:60px;

  color: white;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 300px) {
  .text {
      padding: 10px;
  }
}
