html{
    background-image: url(https://i.postimg.cc/vHTjxk7G/tracksbg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    height:100vh;
    width:100vw;
 
}
.body{
    height:100vh;
    width:100vw;

}
.b1{
    background-color: rgb(235, 20, 199);
    width:85vw;
    height:3vh;
    margin:8% 0% 0% 0%;
}
.b1.loader{
        max-width: 85vw;
        margin: 0 auto;
      }
      
      .loader {
        height: 3vh;
        background-color: rgb(235, 20, 199);
        position: relative;
      }
      .loader span {
          
        position: absolute;
        display: block;
        width:25vw;
        height:3vh;
        box-shadow: rgb(235, 20, 199) 0 0 15px;
        animation: animate 2s infinite ease-in-out;
        opacity: 0;
      }
      .loader span:nth-child(1) {
        animation-delay: 0s;
      }
      
      
      @keyframes animate {
        0% {
          left: 0;
          opacity: 0;
        }
        10% {
          opacity: 0;
          left: 0;
        }
        20% {
          opacity: 1;
        }
        80% {
          opacity: 1;
        }
        90% {
          opacity: 0;
          left: calc(100% - 25vw);
        }
        100% {
          opacity: 0;
          left: calc(100% - 25vw);
        }
      }


.arrow1{
    margin:0vh 10vw 0 0;
    float:right;
    border: solid rgb(235, 20, 199);
    border-width: 0 3vh 3vh 0;
    padding: 7vh;
    transform: rotate(-45deg);
}

.b2{
    position:absolute;
    background-color: rgb(235, 20, 199);
    width:70%;
    height:3vh;
    margin:16vh 0% 0% 10vw;
}

.b2.loader{
    max-width: 85vw;
    margin: 0 auto;
  }
  
  .loader {
    height: 3vh;
    background-color: rgb(235, 20, 199);
    position: relative;
  }
  .loader span {
      
    position: absolute;
    display: block;
    width:25vw;
    height:3vh;
    box-shadow: rgb(235, 20, 199) 0 0 15px;
    animation: animate 2s infinite ease-in-out;
    opacity: 0;
  }
  .loader span:nth-child(1) {
    animation-delay: 0s;
  }
  
  
  @keyframes animate {
    0% {
      left: 0;
      opacity: 0;
    }
    10% {
      opacity: 0;
      left: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 0;
      left: calc(100% - 25vw);
    }
    100% {
      opacity: 0;
      left: calc(100% - 25vw);
    }
  }
.box1{
    margin:100px;
    width:12vw;
    height:10vh;
    border-radius:2vh;
    border:5vw;
    padding:1vw;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    
}

.box2{
    margin:200px;
    width:12vw;
    height:10vh;
    border-radius:2vh;
    border:5vw;
    padding:1vw;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    
}

.box3{
    margin:300px;
    width:12vw;
    height:10vh;
    border-radius:2vh;
    border:5vw;
    padding:1vw;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    
}

.box4{
    margin:400px;
    width:12vw;
    height:10vh;
    border-radius:2vh;
    border:5vw;
    padding:1vw;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    
}