/* #about-mlsc, #about-makeathon { */
#about {
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;

  background: url("../images/about-bg.png") no-repeat center;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
  color: white;

  overflow-x: hidden;
}

#about h2.heading,
#speakers_and_judges h2.heading,
#prizes h2.heading {
  font-family: "Anurati", sans-serif;
  font-size: 4.7rem;
  font-weight: 700;

  margin: 0 70px;
  min-height: 20vh;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#eaab48),
    color-stop(40.75%, #ed885b),
    to(#f24282)
  );

  background: -webkit-linear-gradient(
    top,
    #eaab48 0%,
    #ed885b 40.75%,
    #f24282 100%
  );

  background: -moz- oldlinear-gradient(
    top,
    #eaab48 0%,
    #ed885b 40.75%,
    #f24282 100%
  );

  background: -o-linear-gradient(
    top,
    #eaab48 0%,
    #ed885b 40.75%,
    #f24282 100%
  );

  background: linear-gradient(
    to bottom,
    #eaab48 0%,
    #ed885b 40.75%,
    #f24282 100%
  );

  color: transparent;
  mix-blend-mode: difference;
  -moz-background-clip: text;
    -o-background-clip: text;
       background-clip: text;
  -webkit-background-clip: text;
}

#about h2.makeathon-heading {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-height: -webkit-calc(80vh - 40px);
  min-height: -moz-calc(80vh - 40px);
  min-height: calc(80vh - 40px);
  max-width: -webkit-calc(100% - 140px);
  max-width: -moz-calc(100% - 140px);
  max-width: calc(100% - 140px);

  margin: 0 70px;
  padding: 20px 0;
  /*justify-content: space-between;*/
}

#about .makeathon-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about .container > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-info > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#about .container .about-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
  -webkit-flex: 4;
     -moz-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#about .container .about-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .container .about-info .info {
  font-size: 1.9rem;
  font-family: Anurati, sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  position: relative;
}

#about .container .about-info .info i {
  font-size: 3.8rem;
}

#about .container .about-info .info p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

#about .container .about-content .glassbox-with-shadow {
  padding: 20px;
  position: relative;

  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.5;

  width: 70%;
}

#about .container .about-content .glassbox-with-shadow span {
  z-index: 3;
  position: relative;
}

#about .container .about-content .glassbox-with-shadow .colorizer-div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /*background-color: #ffb0f740;*/
  background-color: #413e6bc6;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  z-index: 2;
}

#about .container .about-content .glassbox-with-shadow::before,
#about .container .about-content .glassbox-with-shadow::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;

  background: -webkit-gradient(
    linear,
    left bottom, right top,
    from(rgba(226, 61, 87, 1)),
    color-stop(rgba(255, 255, 255, 0)),
    color-stop(rgba(255, 255, 255, 0)),
    to(rgba(220, 138, 44, 1))
  );

  background: -webkit-linear-gradient(
    bottom left,
    rgba(226, 61, 87, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(220, 138, 44, 1)
  );

  background: -moz- oldlinear-gradient(
    bottom left,
    rgba(226, 61, 87, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(220, 138, 44, 1)
  );

  background: -o-linear-gradient(
    bottom left,
    rgba(226, 61, 87, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(220, 138, 44, 1)
  );

  background: linear-gradient(
    to top right,
    rgba(226, 61, 87, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(220, 138, 44, 1)
  );
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  z-index: 1;
}

#about .container .about-content .glassbox-with-shadow::after {
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

/* -------------- Media Queries ------------------- */

@media (max-width: 1300px) {
  #about .container .about-content .glassbox-with-shadow {
    line-height: 2;
  }
}

@media (max-width: 900px) {
  #about .container .about-content .glassbox-with-shadow {
    line-height: 1.8;
  }

  #about h2.heading,
  #speakers_and_judges h2.heading,
  #prizes h2.heading {
    font-size: 3.8rem;
  }

  #about .container .about-info .info {
    font-size: 1.7rem;
  }

  #about .container .about-content .glassbox-with-shadow {
    width: 80%;
  }
}

@media (max-width: 760px) {
  #about h2.heading,
  #speakers_and_judges h2.heading,
  #prizes h2.heading {
    font-size: 2.8rem;
    margin: 0 40px;
  }

  #about h2.makeathon-heading {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  #about .container,
  #about .makeathon-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 40px;
    position: relative;
  }

  #about .container .about-content {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 550px) {
  #about h2.heading,
  #prizes h2.heading {
    margin: 0 20px;
    font-size: 2rem;
    min-height: 6rem;
  }

  #about .container {
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }

  #about .container .about-content .glassbox-with-shadow {
    line-height: 1.4;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.1rem;
  }

  #about .container .about-info .info {
    font-size: 1.3rem;
  }
}
