body{
  /* CSS Resets */
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: url('../images/background-image.png') no-repeat fixed;
  background-size: 100% 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
}

header{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}

h1{
  font-family: Anurati;
  font-style: normal;
  font-weight: normal;
  font-size: 7rem;
  line-height: 8.4rem;
  background: linear-gradient(#EAAB48, #ED885B, #F24282);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-top: 5%;
  margin-left: 7%;
}

/* Code for glow effect on the header */

/* .glow {
  -webkit-animation: glow 100000s ease-in-out infinite alternate;
  -moz-animation: glow 100000s ease-in-out infinite alternate;
  animation: glow 100000s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fc6039b0, 0 0 5px #da61429c;
  }
} */

#left-content{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 13;

  padding-left: 18%;
  padding-top: 22%;
}

.list-item{
  display: block;
}

.list-item p{
  font-size: 2.2rem;
  color: white;
  display: inline-block;
  line-height: 3rem;
  font-family: Anurati;
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 5%;
}

.list-item img{
  margin-top: -9%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  vertical-align: middle;
  width: 14%;
  height: 14%;
}

.blurred-box{  
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 13;

  position: absolute;

  width: 50vw;
  height: 50vh;
  top: 9%;
  left: 1%;

  background: inherit;
  border-radius: 6%;
  overflow: hidden;
  z-index: 2;
}

 .box{
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 13;

  position: absolute;

  width: 50vw;
  height: 50vh;
  top: 9%;
  left: 1%;

  background: inherit;
  border-radius: 6%;
  z-index: 1;
}
 
 .content{
   position: relative;
   padding: 4vh;
   text-align: left;
   z-index: 5;
   display: inline-block;
   font-family: 'Roboto', 'sans-serif';
   color: white;
   font-size: 3.22vh;
   border-radius: 6%;
 }

 .blurred-box:after{
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 6%;
  border: 2px solid transparent; 
}

.box:before{
  content: '';
  position: absolute;
  top: -0.34vh;
  left: -0.34vh;
  right: -0.34vh;
  bottom: -0.34vh;
  background: #ffffff;
  border-radius: 6%;
  z-index: -1;
}

.box:after{
  content: '';
  position: absolute;
  top: -0.34vh;
  left: -0.34vh;
  right: -0.34vh;
  bottom: -0.34vh;
  background: #ffffff;
  border-radius: 6%;
  z-index: -2;
  filter: blur(3vh);
}

.box:before,.box:after{
  background: linear-gradient(235deg,#EAAB48,#ED885B,#F24282,transparent,transparent,transparent,transparent,transparent,transparent,transparent,#F24282,#ED885B,#EAAB48);
}


@media screen and (max-width: 1700px){ 
  .content{
    width: 50vw;
    height: 40vh;
    font-size: 1.8rem;
    padding: 2.5vw;
  }

  .list-item p{
    font-size: 230%;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 1350px){
  h1{
    font-size: 6.5rem;
  }

  .content{
    font-size: 1.5rem;
    padding: 2.3vw;
  }
}

@media screen and (max-width: 1160px){
  #left-content{
    padding-left: 15%;
    padding-top: 35%;
  }

  .list-item p{
    font-size: 2rem;
    line-height: 2rem;
  }

  .content{
    font-size: 1.3rem;
    padding: 2.5vw;
  }
}

@media screen and (max-width: 900px){
  h1{
    font-size: 5rem;
    margin-left: 6%;
  }

  #left-content{
    padding-left: 13%;
    padding-top: 32%;
  }

  .list-item p{
    font-size: 2rem;
    line-height: 50px;
  }
  
  .list-item img{
    width: 14%;
    height: 14%;
  }

  .blurred-box{
    width: 50vw;
    height: 40vh;
  }

  .content{
    font-size: 1.1rem;
    padding: 3vw;
  }

  .box{
    width: 50vw;
    height: 40vh;
  }
}

@media screen and (max-width: 780px){
  body{
    background-size: cover;
    background-position: center;
  }

  .content{
    width: 50vw;
    height: 40vh;
    font-size: 1.09rem;
    padding: 1.3vw;
  }

  .box{
    width: 50vw;
    height: 40vh;
  }

  .list-item p{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2%;
    margin-left: 0%; 
  }
}

@media screen and (max-width: 650px){
  h1{
    font-size: 3.7rem;
  }

  .content{
    font-size: 1rem;
    padding: 14px;  
  }
}

@media screen and (max-width: 500px){
  h1{
    font-size: 2.4rem;
    margin-left: 0%;
    padding-left: 0%;
  }

  body{
    object-fit: cover;
  }

  header{
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  #left-content{
    padding-left: 2%;
    padding-top: 2%;
  }

  .list-item p{
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1%;
    margin-left: 0%;
  }
  
  .list-item img{
    margin-right: 2%;
    margin-bottom: 10%;
    vertical-align: middle;
    width: 14%;
    height: 14%;
 }

  .blurred-box{
    width: 70vw;
    height: 40vh;
  }

  .content{
    width: 70vw;
    height: 40vh;
    font-size: 0.9rem;
    padding: 14px;
    
  }
  .box{
    width: 70vw;
    height: 40vh;
  }

  #left-content{
    margin-top: 1rem;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 0%;
    padding-top: 5%;
    margin-left: -7%;
  }

  .blurred-box, .box{
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 13;
    padding-right: 8%;
  }

  #left-content, .blurred-box, .box, header{
    margin-left: -7%;
  }
}

@media screen and (max-width: 330px){
  h1{
    font-size:2rem ;
  }

  .content{
    font-size: 0.67rem;
  }
}

@media screen and (max-width: 900px) and (max-height:420px){
  h1{
    font-size: 4rem;
    margin-left: 6%;
  }

  #left-content{
    padding-left: 13%;
    padding-top: 24%;
  }

  .list-item p{
    font-size: 1.6rem;
    line-height: 30px;
    margin-bottom: 5%;
    margin-left: 5%;
  }
    
  .list-item img{
    margin-top: -9%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
  }

  .content{
    font-size: 0.85rem;
  }

  .blurred-box{
    top: 20%;
    left: 1%;
  }
  
   .box{
    top: 20%;
    left: 1%;
  }    
}  

@media screen and (max-height:530px) and (max-width:780px){
  h1{
    font-size:3.5rem ;
  }
  
  .content{
    font-size: 0.86rem;
  }
  
  .blurred-box{  
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 10;
    top: 20%;
    left: 1%;
  }
    
  .box{
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 10;
    top: 20%;
    left: 1%;
  }    
}

@media screen and (max-height:400px) and (max-width:780px){
  .content{
    font-size: 0.79rem;
  }

  .list-item img{
    margin-top: -6%;
    margin-left: 2%;
    margin-right: 4%;
    margin-bottom: 6%;
  }

  h1{
    font-size: 3.4rem;
    margin-top: 0%;
  }

  #left-content p{
    font-size: 1.2rem;
  }
}

@media screen and (max-height:300px) and (max-width:660px){
  .content{
    font-size: 0.69rem;
  }

  h1{
    margin-top: -2%;
    font-size: 3.6rem;
  }

  .list-item img{
    margin-top: -6%;
    margin-left: 2%;
    margin-right: 4%;
    margin-bottom: 6%;
  }

  .blurred-box{  
    top: 30%;
    left: 1%;
  }
  
    .box{
    top: 30%;
    left: 1%;
    }

  #left-content{
    margin-top: 2rem;
    padding-left: 0%;
    padding-top: 5%;
    margin-left: 8%;
    font-size: 1rem;
  }
}

/* iPad portrait */
@media screen and (max-height:1024px) and (min-height:1024px) 
  and (max-width: 768px) and (min-width: 768px){
    .content{
      width: 50vw;
      height: 40vh;
      font-size: 1.09rem;
      margin-top: 3vh;
      margin-left: 1.2vh;
      padding: 2vw;
    }
  
    .box{
      width: 50vw;
      height: 40vh;
    }

    .blurred-box, .box{
      margin-top : -20%;
    }
  
    .list-item p{
      font-size: 1.8rem;
      line-height: 2rem;
      margin-bottom: 10%;
      margin-left: 3%; 
    }

    #left-content{
      margin-top: 12%;
    }

    h1{
      margin-top: 10%;
      font-size: 5rem;
    }
}

/* iPad Pro portrait */
@media screen and (max-height:1366px) and (min-height:1366px) 
  and (max-width: 1024px) and (min-width: 1024px){
    .content{
      width: 50vw;
      height: 40vh;
      font-size: 1.5rem;
      margin-top: 3vh;
      margin-left: 1.2vh;
      padding: 2vw;
    }
  
    .box, .blurred-box{
      width: 50vw;
      height: 50vh;
    }

    .blurred-box, .box{
      margin-top : -20%;
      margin-left: 5%;
    }
  
    .list-item p{
      font-size: 2.8rem;
      line-height: 2.2rem;
      margin-bottom: 10%;
      margin-left: 3%; 
    }

    #left-content{
      margin-top: 30%;
    }

    h1{
      margin-top: 10%;
      font-size: rem;
    }
}

/* iPad Pro landscape modification */
@media screen and (max-height:1024px) and (min-height:1024px) 
  and (max-width: 1366px) and (min-width: 1366px){
    #left-content{
      padding-top: 40%;
    }

}

/* iPhone 5/SE landscape */
@media screen and (max-height:320px) and (min-height:320px) 
  and (max-width: 568px) and (min-width: 568px){
    .content{
      font-size: 0.7rem;
    }
  
    .list-item img{
      margin-top: -6%;
      margin-left: 2%;
      margin-right: 4%;
      margin-bottom: 6%;
    }

    h1{
      margin-top: 0%;
      font-size: 2.5rem;
    }

    .list-item p{
      font-size: 1rem;
      line-height: 1rem;
      margin: 5%;
    }

    #left-content{
      margin-top: 5%;
    }

    .box, .blurred-box{
      width: 50vw;
      height: 47vh;
      margin-top: -3%;
    }
}







