{% load static %}

<section id="prizes" style="height: 100vh; width: 100vw">
  <div
    class="content"
    style="width: 100vw; backdrop-filter: blur(10px); height: 100vh"
  >
    <div class="anno" style="">
      <h2
        class="heading"
        style="justify-content: center; font-family: Anurati, sans-serif"
      >
        Judges
      </h2>
      <!-- <h2 class="heading" style="justify-content: center; font-family: Anurati, sans-serif; padding: 0%;"></h2> -->
      <h3 style="color: beige; text-align: center">TO BE ANNOUNCED SOON</h3>
    </div>
  </div>
</section>
