{% load static %}
<section id="speakers_and_judges" style="min-height: 100vh; position: relative">
	<!-- Start Your Code Here, Have Fun. -->

	<div class="speaker">
		<button id="speakers-button" class="button">Speakers</button>

		<button id="judges-button" class="button2">Judges</button>

		<!-- Speakers -->

		<div class="wrapper" id="speakers"></div>

		<!-- Judges -->

		<div class="wrapper" id="judges" style="display: none"></div>

		<!--INFO BOX CARD-->

		<div class="info" id="info" style="display: none">
			<div class="arrow">
				<img
					id="info-left-arrow"
					class="arrowleft"
					src="{% static 'webpages/Speakers_and_Judges/static/images/arrow-left.png' %}"
				/>
				<img
					id="info-right-arrow"
					class="arrowright"
					src="{% static 'webpages/Speakers_and_Judges/static/images/arrow-right.png' %}"
				/>
			</div>

			<div class="box">
				<div class="info-page-img">
					<img
						id="info-img"
						class="image"
						src="{% static 'webpages/Speakers_and_Judges/static/images/pichai.png' %}"
					/>
				</div>
				<div class="text1">
					<p id="info-heading-1" class="texth1">Heading1</p>

					<h3 id="info-heading-2" class="texth3">HEading2</h3>
					<br />

					<div class="text2">
						<h5 class="texth5">
							<span id="info-date">FEBRUARY XX, 2021</span>
							<br />
							<span id="info-platform-and-time"
								>YOUTUBE LIVE 6:00PM</span
							>
						</h5>
					</div>
					<div class="textinf">
						<br />
						<p id="info-summary">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap 5 Js -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"
	></script>

	<!-- Custom Js -->
	<script
		type="module"
		src="{% static 'webpages/Speakers_and_Judges/static/js/index.js' %}"
	></script>
	<script>
		var isSafari = /^((?!chrome|android).)*safari/i.test(
			navigator.userAgent
		);
		if (isSafari) {
			document.querySelector(".abcd").classList.add("safari-specific");
		}
	</script>
</section>
