<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Titile -->
    <title>Tracks | Makeathon 3077</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/style.css" type="text/css" />
  </head>
  <body onresize="refresh()">
    <!-- Start Your Code Here, Have Fun. -->

    <section id="tracks">
      <div
        style="
          background-color: #00000046;
          position: absolute;
          height: 100vh;
          width: 100%;
          z-index: 2;
        "
      >
        <canvas id="track"></canvas>
        <div class="text" id="txt1">AI / ML</div>
        <div class="text" id="txt2">AR / VR</div>
        <div class="text" id="txt3">IOT</div>
        <div class="text" id="txt4">Dev</div>
      </div>

      <!-- Custom Js -->
      <script src="static/js/index.js"></script>
    </section>
  </body>
</html>
