<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Makeathon 3077</title>
	<link rel="stylesheet" href="static/css/track.css">
</head>
<body>
    <div class="line-block">
    <div class="b1">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="b2">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    </div>
    <div class="b3"></div>
    <div class="b4"></div>
    <div class="arrow1"></div>
    <div class="arrow2"></div>
    <div class="arrow3"></div>
    </div>  

    <div class ="boxes">
     <div class="box1">text1</div>
     <div class="box2">text2</div>
     <div class="box3">text3</div>
     <div class="box4">text4</div>
    </div>







    <script>
    console.log(window.screen.width)
    console.log(window.screen.height)
    </script>
</body>

</html>
