body{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/background-image.png') no-repeat fixed;
  background-size: 100% 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
}

header{
  grid-column-start: 1;
  grid-column-end: 13;

  grid-row-start: 1;
  grid-row-end: 4;
}

h1{

  font-family: Anurati;
  font-style: normal;
  font-weight: normal;

  /* Gotta make this responsive */

  font-size: 112px;
  line-height: 134px;


  background: linear-gradient(#EAAB48, #ED885B, #F24282);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* mix-blend-mode: difference; */
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  transform: matrix(1, 0, 0, 1, 0, 0);

  margin-top: 5%;
  margin-left: 7%;
}

#content{
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 13;
}


#left-content{
  grid-column-start: 1;
  grid-column-end: 6;

  grid-row-start: 4;
  grid-row-end: 13;

  padding-left: 25%;
  padding-top: 25%;

}

.list-item{
  display: block;
}

.list-item p{
  font-size: 2.2rem;
  color: white;
  display: inline-block;
  line-height: 50px;
  font-family: Anurati;
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 5%;
}

.list-item img{
  /* margin: 2%; */
  margin-top: -9%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4a%;
  vertical-align: middle;
  width: 14%;
  height: 14%;
  /* width: 0.0486%;
  height: 0.085411%; */
}

#right-content{
  grid-column-start: 6;
  grid-column-end: 13;

  grid-row-start: 4;
  grid-row-end: 13;

  position: relative;
}



.blurred-box{  
  grid-column-start: 6;
  grid-column-end: 13;

  grid-row-start: 4;
  grid-row-end: 13;

  position: absolute;

  width: 50vw;
  height: 50vh;
  top: 10%;
  left: 1%;

  background: inherit;
  border-radius: 5%;
  overflow: hidden;
  z-index: 2;
 
}

 .box{
  grid-column-start: 6;
  grid-column-end: 13;

  grid-row-start: 4;
  grid-row-end: 13;

  position: absolute;

  width: 50vw;
  height: 50vh;
  top: 10%;
  left: 1%;

  background: inherit;
  border-radius: 5%;
  z-index: 1;
}

 
 .blurred-box:after{
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 5%;
  
}
 
 .user-login-box{
   position: relative;
   margin: 6.93vh 6.93vh;
   text-align: left;
   z-index: 5;
   display: inline-block;
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 3.1vh;
   border-radius: 5%;
 }


.box:before
{
  content: '';
  position: absolute;
  top: -0.34vh;
  left: -0.34vh;
  right: -0.34vh;
  bottom: -0.34vh;
  background: #ffffff;
  border-radius: 5%;
  z-index: -1;
}

.box:after
{
  content: '';
  position: absolute;
  top: -0.34vh;
  left: -0.34vh;
  right: -0.34vh;
  bottom: -0.34vh;
  background: #ffffff;
  border-radius: 8%;
  z-index: -2;
  filter: blur(6.93vh);

}

.box:before,.box:after{
  background: linear-gradient(235deg,#EAAB48,#ED885B,#F24282,transparent,transparent,transparent,transparent,transparent,transparent,transparent,#F24282,#ED885B,#EAAB48);
}

@media screen and (max-width: 1350px){
  .user-login-box{
    font-size: 1.4rem;
  }
}