{% load static %}

<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{% static 'webpages/home/css/style.css' %}"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{% static 'webpages/about/css/style.css' %}"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{% static 'webpages/FAQ/static/css/style.css' %}"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{% static 'webpages/Tracks/static/css/style.css' %}"
			type="text/css"
		/>

		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="//db.onlinewebfonts.com/c/a21764905c623777a48ec557b4229c22?family=Anurati"
			rel="stylesheet"
			type="text/css"
		/>
		<title>Makeathon3077 | MLSC</title>
		<style>
			body {
				width: 100%;
				overflow-x: hidden;
			}
		</style>

		<!-- Animate on Scroll -->
		<link
			href="https://unpkg.com/aos@2.3.1/dist/aos.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<!-- prettier-ignore -->
		{% include "webpages/Home/index.html" %}

		<section id="about">
			{% include "webpages/About_MLSC/index.html" %}
			{% include "webpages/About/index.html" %}
		</section>

		{% include "webpages/Timeline/index.html" %}
		{% include "webpages/Tracks/index.html" %}
		{% include "webpages/Speakers_and_Judges/index.html" %}
		{% include "webpages/FAQ/index.html" %}
		{% include "webpages/Sponsors/index.html" %}

		<!-- Animate on Scroll -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out',
                duration: 400
            });
        </script>
	</body>
</html>
