{% load static %}

<section style="position: relative" id="Tracks_Makeathon">
	<!-- Start Your Code Here, Have Fun. -->

	<section id="tracks">
		<div
			style="
				background-color: #00000046;
				position: absolute;
				height: 100vh;
				width: 100%;
				z-index: 2;
			"
		>
			<canvas id="track"></canvas>
			<div class="text" id="txt1">Coming</div>
			<div class="text" id="txt2">Soon</div>
			<div class="text" id="txt3">Coming</div>
			<div class="text" id="txt4">Soon</div>
		</div>

		<!-- Custom Js -->
		<script src="{% static 'webpages/Tracks/static/js/index.js' %}"></script>
	</section>
</section>

