@import url(//db.onlinewebfonts.com/c/a21764905c623777a48ec557b4229c22?family=Anurati);
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

body {
  margin: 0;
  background: url("../images/image12.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back-img {
  position: absolute;
  top: 0px;
  z-index: -6;
  left: 0px;
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  height: 15%;
  left: 50%;
  top: 7.78px;

  font-family: Anurati, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 86px;
  background: linear-gradient(#eaab48, #ed885b, #f24282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  mix-blend-mode: difference;
}
.button {
  position: relative;
  width: 13%;
  height: 9%;
  left: 74px;
  top: 189px;
  padding: 0.3%;

  background: rgba(196, 196, 196, 0.54);
  border-radius: 28px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;

  color: #ffffff;

  transform: rotate(0.05deg);
}
.button:hover {
  background-color: whitesmoke;
  color: black;
}
.button:focus {
  outline: none;
}
.button2 {
  position: absolute;
  width: 13%;
  height: 40px;
  left: 74.04px;
  top: 252px;
  margin-top: -8px;

  background: rgba(196, 196, 196, 0.54);
  border-radius: 28px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;

  color: #ffffff;
}
.button2:focus {
  outline: none;
}

.button2:hover {
  background-color: whitesmoke;
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 9% 7% 0 0;

  margin-left: 39%;
}

.person {
  /* border: 1px solid #333333; */
  position: relative;
  padding-right: 1px;
  margin-left: 0px;
}
.imgperson {
  /* border: 1px solid #333333; */
  width: 150.76px;
  height: 180.41px;
}
.title {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13.5px;
  line-height: 20px;
  padding-bottom: 20px;
  margin-top: -10%;

  color: #ffffff;
}

.link {
  width: 26.88px;
  height: 21.35px;
}
.git {
  width: 26.24px;
  height: 21.18px;
}
.insta {
  width: 26.24px;
  height: 21.18px;
}

.cards {
  position: relative;
  bottom: 39px;
}

.icon {
  padding: 4.3%;
  display: inline;
  top: 46.2%;
  bottom: 49.35%;
}

/* -------------MEDIA QUERIES---------- */

@media All and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .icon {
    padding: 3%;
  }
  .title {
    padding-top: 3%;
  }
  .button {
    font-size: 19px;
    width: 14%;
  }
  .button2 {
    font-size: 19px;
    width: 14%;
  }
}

@media All and (max-width: 900px) {
  .icon {
    padding: 3%;
  }
  .title {
    padding-top: 1%;
  }
  .button {
    font-size: 17px;
    width: 14%;
  }
  .button2 {
    font-size: 17px;
    width: 14%;
  }
  .header {
    left: 41%;
  }
}

@media All and (max-width: 750px) {
  .button {
    font-size: 16px;
    width: 16%;
  }
  .button2 {
    font-size: 16px;
    width: 16%;
  }
  .title {
    padding-top: 1px;
  }
  .header {
    left: 37%;
  }
}

@media All and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    margin-top: 18%;
    margin-left: 50%;
  }
  .icon {
    padding: 3.4%;
  }
  .button {
    font-size: 15px;
    width: 19%;
  }
  .button2 {
    font-size: 15px;
    width: 19%;
  }
  .title {
    padding-top: 3%;
  }
  .header {
    left: 20%;
  }
}

/*-------------------- PHONE---------------------------- */

@media All and (max-width: 415px) {
  .header {
    left: 15%;
    font-size: 60px;
  }
  .wrapper {
    margin-top: 50%;
    margin-left: 30%;
  }
  .button {
    font-size: 17px;
    width: 31%;
    left: 33%;
    top: 110px;
    padding: 1.4%;
  }
  .button2 {
    font-size: 17px;
    width: 31%;
    left: 33%;
    top: 165px;
  }
}

@media All and (max-width: 385px) {
  .header {
    left: 19%;
    font-size: 55px;
  }
  .button {
    font-size: 17px;
    width: 32%;
    left: 33%;
    top: 100px;
  }
  .button2 {
    font-size: 17px;
    width: 32%;
    left: 33%;
    top: 155px;
  }
  .wrapper {
    margin-top: 60%;
    margin-left: 25%;
  }
}

@media All and (max-width: 305px) {
  .header {
    left: 19%;
    font-size: 44px;
  }
  .button {
    font-size: 14px;
    width: 35%;
  }
  .button2 {
    font-size: 14px;
    width: 35%;
  }
}
@media All and (max-width: 260px) {
  .header {
    left: 19%;
    font-size: 35px;
  }
  .button {
    font-size: 11px;
    width: 35%;
  }
  .button2 {
    font-size: 11px;
    width: 35%;
  }
  .wrapper {
    margin-top: 75%;
    margin-left: 18%;
  }
}

/* *********************************INFO BOX CSS********************************* */

.arrow {
  text-align: right;
  margin-right: 10%;
  margin-top: 2%;
}
.arrowleft {
  height: 42px;
  width: 60px;
}
.arrowright {
  height: 42px;
  width: 60px;
  margin-left: 15px;
}

.img1 {
  position: absolute;
  left: 0em;
  top: 0em;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 20px;
  width: 100%;
  max-width: 64%;
  height: 79vh;
  margin-left: 28%;
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 10px 50px 0 rgb(31 38 135 / 20%);
  box-shadow: 0px 10px 50px 0 rgb(31 38 135 / 20%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 15px;
  border: 1px solid rgb(255 255 255 / 15%);
}
.image {
  position: absolute;
  width: 190px;
  height: 240px;
  border-radius: 2px;
}

.info-page-img {
  position: absolute;
  display: inline-block;
  width: 192px;
  height: 242px;
  left: 72%;
  top: 58px;
  border: 2px solid #b45804;

  border-radius: 10px;
}
.texth1 {
  font-family: Anurati, sans-serif;
  font-size: 500%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eaab48),
    color-stop(43.75%, #ed885b),
    to(#f24282)
  );
  background: -o-linear-gradient(top, #eaab48 0%, #ed885b 43.75%, #f24282 100%);
  background: linear-gradient(180deg, #eaab48 0%, #ed885b 43.75%, #f24282 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-top: 16px;
}
.texth3 {
  font-family: Anurati, sans-serif;
  font-size: 40px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eaab48),
    color-stop(43.75%, #ed885b),
    to(#f24282)
  );
  background: -o-linear-gradient(top, #eaab48 0%, #ed885b 43.75%, #f24282 100%);
  background: linear-gradient(180deg, #eaab48 0%, #ed885b 43.75%, #f24282 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin-top: -0.1em;
}

.texth5 {
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  text-align: left;
  margin-top: 10px;
  color: white;
}

p {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: left;
  margin-top: 0em;
}

@media ALL and (max-width: 1300px) {
  .box {
    margin-left: 30%;
  }

  .info-page-img {
    left: 60%;
  }
}
@media ALL and (max-width: 1100px) {
  .info-page-img {
    left: 35%;
  }
  .text1 {
    margin-top: -80px;
  }
  .box {
    height: 85%;
    margin-left: 30%;
  }
  .textinf {
    margin-bottom: -50px;
  }
  .text1 {
    margin-top: 39%;
  }
}
@media ALL and (max-width: 960px) {
  .info-page-img {
    left: 10%;
  }
  .box {
    height: 85%;
    margin-left: 30%;
  }
  .textinf {
    margin-bottom: -50px;
  }
  .text1 {
    margin-top: 250px;
  }
}
@media ALL and (max-width: 700px) {
  .info-page-img {
    margin-left: 10%;
  }

  .box {
    margin-top: 40%;
    margin-left: 20%;
    max-width: 75%;
  }
  .text1 {
    font-size: 85%;
  }
  .texth1 {
    font-size: 400%;
  }
  .arrow {
    margin-top: 10%;
    text-align: center;
    margin-right: 0%;
  }
}
@media ALL and (max-width: 615px) {
  .text1 {
    margin-top: 275px;
  }
}

@media ALL and (max-width: 415px) {
  .texth1 {
    font-size: 400%;
  }
  .info-page-img {
    left: 9%;
  }

  .box {
    margin-top: 45%;
    margin-left: 11%;
    max-width: 82%;
  }
  .text1 {
    font-size: 70%;
  }
  .arrow {
    margin-top: -1%;
    text-align: center;
    margin-right: 5%;
  }
  .arrowleft {
    height: 34px;
    width: 48px;
  }
  .arrowright {
    height: 34px;
    width: 48px;
  }
}

@media All and (max-width: 290px) {
  .info-page-img {
    left: 0.5%;
  }
}
