@import url(//db.onlinewebfonts.com/c/a21764905c623777a48ec557b4229c22?family=Anurati);


body {
  margin: 0;
}
body {
    background: #333;
    background: url("/templates/Sponsors/static/images/image\ 18.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1{
    
      font-family: Anurati, sans-serif;
    font-style: normal;
    
    font-size: 500%;
    line-height: 89px;
    background: linear-gradient(#eaab48, #ed885b, #f24282, #ffc364, #c0450e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    mix-blend-mode: difference;
    text-align: center;
    margin-bottom: 1.7%;
    margin-top: 1%;
  }
  .coverflow__image{
      background-color: white;
  }
  /*----------------------------*\
        Coverflow Album Slider 
  \*-----------------------------*/
  .coverflow {
    position: relative;
    height: 460px;
    padding: 30px;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  
  .coverflow__image {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 400px;
    height: 340px;
    border-radius: 50%;
    -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .coverflow__image[data-coverflow-index] {
    position: absolute;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  
  .coverflow__image[data-coverflow-index]:before {
    content: " ";
    z-index: 1;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 2;
    -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    opacity: -0.66667;
  }
  
  .coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 1;
    -webkit-transform: translateX(730px) scale(-0.55) rotateY(-45deg);
    transform: translateX(730px) scale(-0.55) rotateY(-45deg);
    opacity: -0.83333;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 2;
    -webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    transform: translateX(640px) scale(-0.4) rotateY(-45deg);
    opacity: -0.66667;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 3;
    -webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    transform: translateX(550px) scale(-0.25) rotateY(-45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 4;
    -webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    transform: translateX(460px) scale(-0.1) rotateY(-45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 5;
    -webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
    transform: translateX(370px) scale(0.05) rotateY(-45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="6"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 6;
    -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
    transform: translateX(280px) scale(0.2) rotateY(-45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="7"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 7;
    -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
    transform: translateX(190px) scale(0.35) rotateY(-45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="8"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 8;
    -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
    transform: translateX(100px) scale(0.5) rotateY(-45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 2;
    -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    opacity: -0.66667;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .coverflow[data-coverflow-position="9"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 9;
    -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
    transform: translateX(10px) scale(0.65) rotateY(-45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="1"] {
    z-index: 1;
    -webkit-transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
    transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
    opacity: -0.83333;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="2"] {
    z-index: 2;
    -webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
    opacity: -0.66667;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="3"] {
    z-index: 3;
    -webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    transform: translateX(-950px) scale(-0.25) rotateY(45deg);
    opacity: -0.5;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="4"] {
    z-index: 4;
    -webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    transform: translateX(-860px) scale(-0.1) rotateY(45deg);
    opacity: -0.33333;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="5"] {
    z-index: 5;
    -webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
    transform: translateX(-770px) scale(0.05) rotateY(45deg);
    opacity: -0.16667;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="6"] {
    z-index: 6;
    -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
    transform: translateX(-680px) scale(0.2) rotateY(45deg);
    opacity: 0;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="7"] {
    z-index: 7;
    -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
    transform: translateX(-590px) scale(0.35) rotateY(45deg);
    opacity: 0.16667;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="8"] {
    z-index: 8;
    -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
    transform: translateX(-500px) scale(0.5) rotateY(45deg);
    opacity: 0.33333;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="9"] {
    z-index: 9;
    -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
    transform: translateX(-410px) scale(0.65) rotateY(45deg);
    opacity: 0.5;
  }
  
  .coverflow[data-coverflow-position="10"] .coverflow__image[data-coverflow-index="10"] {
    z-index: 10;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
  }
  
  .prev-arrow,
  .next-arrow {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    padding: 1.5rem 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3rem;
    line-height: 3rem;
    background: transparent;
    border-radius: 1rem;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: color 200ms, background 200ms;
    transition: color 200ms, background 200ms;
  }
  
  .prev-arrow:hover,
  .next-arrow:hover,
  .prev-arrow:focus,
  .next-arrow:focus {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.5);
  }
  
  .prev-arrow {
    left: 0%;
  }
  
  .prev-arrow:before {
    content: "❮";
  }
  
  .next-arrow {
    right: 0%;
  }
  
  .next-arrow:after {
    content: "❯";
  }




  /*MEDIA QUERIES*/
  @media All and (min-width:541px)
  {
    #carouselExampleIndicators{
        display: none;
        
    }
   

  }
  @media All and (max-width:540px){
      .row{
          display: none;
      }
    
      
  }