#tracks {
	min-height: 100vh;
	width: 100%;

	background-color: black;
	background: url(../images/tracks-bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
}

#tracks .tracks-path {
	height: 100vh;
	width: 100%;

	animation: blink-image 1s infinite;
}

@keyframes blink-image {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

#tracks .glassbox-track {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 0;

	background: linear-gradient( 89.83deg, rgba(151, 87, 87, 0.8) 27.2%, rgba(255, 255, 255, 0.7) 145.41% );
	border-radius: 10px;
	box-shadow: 0 8px 32px 0 rgba(218, 31, 224, 0.274);

	transform: scale(1);
	transition: transform 0.4s;

	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 1.6rem;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px black;
	cursor: pointer;
}

#tracks .glassbox-track:hover {
	transform: scale(1.2);
}

#tracks .glassbox-track p {
	display: none;
}

