{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'website/about/css/style.css' %}" />
</head>

<section id="about-makeathon">
	<h2 data-aos="fade-up" class="heading">About Makeathon</h2>
	<div class="container">
		<div class="about-info" data-aos="fade-left">
			<div class="info">
				<i class="bx bx-cube"></i>
				<p>1000+ Registrations</p>
			</div>

			<div class="info">
				<i class="bx bx-terminal"></i>
				<p>Million lines of code written</p>
			</div>
		</div>
		<div class="about-content">
			<div data-aos="fade-right" class="glassbox-with-shadow">
				<div class="colorizer-div"></div>
				<strong>Makeathon 3077</strong>- the paradigmatic Hackathon of
				Thapar Institute of Engineering and Technology,is one of MLSC's
				superlative flagship events. A <strong>36 Hours</strong> event
				for students to challenge their technical boundaries by learning
				the latest technologies, procuring solutions, and developing fun
				projects. The event intends to bring together astute and
				industrious students from various colleges for a ravishing
				technical journey consisting of pre-event workshops and a
				Bootcamp.
			</div>
		</div>
	</div>
</section>
