{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'website/about/css/style.css' %}" />
</head>

<section id="about-mlsc">
	<h2 data-aos="fade-up" class="heading">About MLSC</h2>
	<div class="container">
		<div class="about-info" data-aos="fade-right">
			<div class="info">
				<i class="bx bx-cube"></i>
				<p>1000+ Registrations</p>
			</div>

			<div class="info">
				<i class="bx bx-terminal"></i>
				<p>Million lines of code written</p>
			</div>
		</div>
		<div class="about-content">
			<div data-aos="fade-left" class="glassbox-with-shadow">
				<div class="colorizer-div"></div>
				<strong>Microsoft Learn Student Chapter</strong> is a technical
				society that is dedicated to elevate the coding culture of
				Thapar Institute of Engineering and Technology by mentoring and
				motivating its students to refine their critical thinking,
				logical reasoning, and coding skills. MLSC was formed with the
				objective of providing students a dynamic platform that feeds
				their curiosity and develops their technical skills. MLSC aims
				to create a community of versatile enthusiasts with a
				progressive mindset, promoting development holistically which
				includes injecting soft skills as well. MLSC effectuates it by
				organizing numerous technology-driven events including Tech
				Meetups, Hackathons and promoting team building.
			</div>
		</div>
	</div>
</section>
