{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'website/faq/css/style.css' %}">
</head>

<section id="faq">
	<div class="black-bg-cover"></div>
	<h2 class="faq-heading" data-aos="fade-up">FAQs</h2>
	<div class="faq-container">
		<div class="faq-categories">
			<button class="faq-category-button current" data-toggle="#category-1">Category 1</button>
			<button class="faq-category-button" data-toggle="#category-2">Category 2</button>
			<button class="faq-category-button" data-toggle="#category-3">Category 3</button>
			<button class="faq-category-button" data-toggle="#category-4">Category 4</button>
		</div>

		<div class="faq-questions">
			<div id="category-1" class="category" style="display: block;">
				<button class="accordion">
					<span>What will be the mode of conduct of the hackathon?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Due to the current pandemic situation, the mode of conduct will be online this year, but no worries the experience will be the same.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>What if I have never been to a Hackathon before? Is it necessary to know to code? What are the prerequisites for the hackathon?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Then we're so glad that Makeathon 3077 will be your first ever! Even if you have no prior knowledge, it’s a learning experience we hope you cherish.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>What is the registration fee for the Hackathon?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>The hackathon is FREE of cost! Just put on your learning caps and hop on!</p>
				</div>
				<hr />

				<button class="accordion">
					<span>Can the team members be from different colleges?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Yes, we believe in a healthy team spirit which will be ensured if you are allowed to work with the team of your choice.</p>
				</div>
				<hr />
			</div>
			
			<div id="category-2" class="category">
				<button class="accordion">
					<span>Will the teams be provided with any assistance during the hackathon?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Yes. Our mentors will be available on discord throughout the hackathon to help you if needed.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>Will there be any work-shop for the upcoming event?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Yes. You are encouraged to participate in the Hackathon Training Webinars. Topics, dates, and times will be announced at a later date, so don’t worry.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>What are the evaluation criteria for the selection of the winning team?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>The final decisions of the judges are to be based on the following parameters: Concept, Design, Development, and Presentation. The panel will assign a score to each parameter, which will then determine the ranking of each participating team.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>How do I join or form a team or can I participate individually?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>The team should have a minimum of 2 members to a maximum of 5 members. You can form a team in the #team_up  section in the Discord Server.</p>
				</div>
				<hr />
			</div>

			<div id="category-3" class="category">
				<button class="accordion">
					<span>Can I start working on my hack before the hackathon?/Are we allowed to build on past projects?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>No. In the interest of fairness, students should not be working on their projects before the hackathon begins. The rest of the rules can be viewed here(link).</p>
				</div>
				<hr />

				<button class="accordion">
					<span>What is the last date for registration?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>It's 28th of February, 2021. Make Sure You Register Before it.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>How are the hacks to be submitted ?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Hack submission will be done through Devfolio. Teams will have to enter the details as asked for on the Devfolio portal itself.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>How long do we have before submitting our Hack?/What will be the duration of the hackathon?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>The teams have to submit their hack before the deadline in any case. No submissions will be entertained after the submission period ends.</p>
				</div>
				<hr />
			</div>
			<div id="category-4" class="category">
				<button class="accordion">
					<span>Are there any prizes for the hack categories?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>There are going to be loads of prizes and goodies for the participants and winners. Exact details regarding the same can be found on the prizes section.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>What kind of projects can we work on?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>The tracks will be disclosed soon. The hacks should cover at least one problem statement. Hacks that do not tackle any of the problems stated will be disqualified.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>Do I have to stay at the hackathon until it officially closes?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>It is compulsory for at least one member of the team to be present at all the checkpoints during the hackathon.</p>
				</div>
				<hr />

				<button class="accordion">
					<span>Will Participation Certificates be provided?</span>
					<i class='bx bx-plus'></i>
				</button>
				<div class="panel">
					<p>Yes, participation certificates will be provided to all who submit their hacks..</p>
				</div>
				<hr />
			</div>
		</div>
	</div>

	<script src="{% static 'website/faq/js/index.js' %}"></script>
</section>
