<style>
	#prizes {
		background-color: #300038;
		overflow: hidden;		
		min-height: 100vh;
		width: 100%;
		position: relative;
	}

	#prizes .starfield {
		background-color: #300038;
	}

	#prizes .star0 {
		height: 1px;
		width: 1px;
		opacity: 1;
		position: absolute;
	}

	#prizes .star1 {
		height: 2px;
		width: 2px;
		border-radius: 50%;
		opacity: 1;
		position: absolute;
	}

	#prizes .star2 {
		height: 3px;
		width: 3px;
		border-radius: 50%;
		opacity: 1;
		position: absolute;
	}

	#prizes .star3 {
		height: 4px;
		width: 4px;
		border-radius: 50%;
		opacity: 1;
		position: absolute;
	}

	#prizes .star4 {
		height: 4px;
		width: 4px;
		border-radius: 50%;
		opacity: 1;
		position: absolute;
	}

	#prizes .card__name {
		margin-top: 15px;
		font-size: 1.8em;
		letter-spacing: 0.1rem;
		z-index: 1;
	}

	#prizes .card__image {
		height: 160px;
		width: 160px;
		border-radius: 50%;
		border: 5px solid #272133;
		margin-top: 20px;
		box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
	}

	#prizes .column {
		float: left;
		width: 25%;
		padding: 0 10px;
	}

	#prizes .row {
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}

	@media (max-width: 800px) {
		#prizes .row {
			flex-direction: column;
			align-items: center;
		}
		#prizes .column {
			width: 70%;
			margin-left: 11vw;
			margin-right: 11vw;
			display: block;
			margin-bottom: 20px;
		}
	}

	#prizes .row:after {
		content: "";
		display: table;
		clear: both;
	}

	#prizes .card {
		background-color: #222831;
		padding: 16px;
		border-radius: 5px;
		text-align: center;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.7);
		color: white;
	}
</style>

<section id="prizes">
	<div id="universe"></div>

	<h2 class="heading" style="justify-content: center;">Prizes</h2>
	<div class="row">
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">First</p>
					<p class="prizes-detail" style="display: none;">
						Monetary - Rs 10,000
						<br />Free subscription to all members by Egg head
						<br />Coupons to winners by hoverobotrix
						<br />Stickers by elastic and JustStickers
						<br />$2000 credits by Digital Ocean
						<br />Coupons by Code for Cause
						<br />Goodies by Devfolio
						<br />90% off coupons by coding blocks
						<br />Coding Ninjas bags to all the participants
						<br />Customised mugs by Jio
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">Second</p>
					<p class="prizes-detail" style="display: none;">
						Monetary - Rs. 7000
						<br />Free subscription to all members by Egg head
						<br />Stickers by elastic and JustStickers
						<br />Stickers and $2000 credits by Digital Ocean
						<br />Coupons by Code for Cause
						<br />Goodies by Devfolio
						<br />80% off coupons by coding blocks
						<br />Customised mugs by Jio
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
	</div>
	<div class="row">
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">Third</p>
					<p class="prizes-detail" style="display: none;">
						Monetary - Rs. 5000
						<br />70% off coupons by coding blocks
						<br />Customised mugs by Jio
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">Top 5</p>
					<p class="prizes-detail" style="display: none;">
						The winners will receive bags, tee shirts and exciting stickers from Coding Ninja.
						<br />The free upgrade by Clerky would go to the winning team.
						<br />A free usage of testmail and a six month subscription would be awarded to the top 5 teams.
						<br />A free upgrade by 1Password also awaits the out-performers.
						<br />All the members will also receive ClickUp stickers
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
	</div>
	<div class="row">
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">Top 10</p>
					<p class="prizes-detail" style="display: none;">
						100% free coupons from Eduvantage Box.
						<br />Additionally, one personal edition plus one-year subscription to Wolfram Alpha Pro worth $375 will also be awarded to them! 
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">All Participants</p>
					<p class="prizes-detail" style="display: none;">
						Free domain by .XYZ
						<br />*𝟏𝟎𝟎𝐑𝐬* discount coupon by Badelog.in
						<br />90-day extended trial promo code for the Balsamiq cloud
						<br />50-60% discount coupons by coding blocks.
						<br />30 day free trial by elastic.
						<br />Discount coupons by GeeksforGeeks.
						<br />20% discount coupons by Packt.
						<br />Free subscription by Taskade.
						<br />Free use of testmail.app API in hackathon
						<br />Wolfram one for all for a duration of 30 days worth ~ $25
						<br />30% discount coupon by eduvantage box
						<br />Free course access by progate and interview cake.
						<br />Goodies and swags to winners of CODECHEF hour.
						<br />$100 credits by digital ocean.
						<br />1-Month free business tier access by EchoAR.
						<br />Goodies by Github.(Help guide)
						<br />Free course access for 30 days by Jetbrains.
						<br />3 months free hacker plan by Repl.it.
						<br />$120 credits by Sashido.
						<br />Internship opportunity by Skillunga and Wharf Street Strategies.
						<br />Professional license by Voiceflow.
						<br />Rs. 1500 coupon for courses offered by coding ninjas.
						<br />60-Days fully-featured licenses by proto.io
						<br />25% discount to all the participants who are interested in International Blockchain Certification program.
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
	</div>

	<div class="row">
		<button class="column">
			<div class="card">
				<div>
					<img
						src="https://th.bing.com/th/id/OIP.81WJyjZherkqDJlDE_WDugHaGR?pid=ImgDet&rs=1"
						alt="Prize"
						class="card__image"
					/>
					<p class="card__name">Special Prizes</p>
					<p class="prizes-detail" style="display: none;">
						A whopping sum of Rs. 5,000 will be awarded to the winning team by XinFin only if Dapps are deployed on XinFin! Decentralized, hybrid, interoperable and liquid network, XinFin is a delegated proof of stake consensus network. It enables Hybrid Relay Bridges, Instant Block Finality and Interoperability, making XinFin's Hybrid Architecture Developer friendly.
						<br /><br />Top three individuals of Step Set Go Competition which will be held during the Hackathon by the company will also receive StepSetGo T-shirts. Amazon vouchers worth Rs. 200 will be provided to the next three winners and those worth Rs. 100 to the next four winners of the competition by StepSetGo. StepSetGo motivates you, pushes you, engages you and rewards you to move and join the fitness revolution
						<br /><br />The team which emerges the winner from those using echoAR, will be awarded $50 Amazon gift card and 3 month free business tier access to echoAR. echoAR is a 3D-ready cloud platform helps manage & deliver AR/VR content to apps & devices everywhere.
						<br /><br />The top 3 projects using Machine Learning and SashiDo will get featured in a short blog post and receive a special prize from them. Internships will also be offered to the participants with desired skillset. SashiDo enables building global serverless apps faster with scalable NodeJS, GraphQL, API, object and file storage, push notifications and much more. All participants will get a 45 day access to this versatile platform
						<br /><br />The winning team from those using Matic, will be awarded Rs. 15,000 as prize money. Matic aims to simplify the interaction between users and the decentralized world by providing means to make interaction with that ecosystem easy.
						<br /><br />The winning team from those using Tezos, will be awarded Rs. 15,000 as prize money. Tezos is an open-source platform for assets and applications backed by a global community of validators, researchers, and builders.
						<br /><br />The winning team from those using portis.io, will be awarded Rs. 10,000 as prize money. Portis is the non-custodial blockchain wallet that makes apps simple for everyone by removing all friction in the process
					</p>
					<p class="prizes-info" style="display: none;"></p>
				</div>
			</div>
		</button>
	</div>
</section>

<script>
	var layerCount = 7;
	var starCount = 100;
	var universe = document.getElementById("universe");
	var w = window;
	var d = document;
	var e = d.documentElement;
	var g = d.getElementsByTagName("body")[0];
	const prizesSection = document.querySelector('#prizes');
	var width = prizesSection.offsetWidth;
	var height = prizesSection.offsetHeight;
	for (var l = 0; l < layerCount; ++l) {
		var layer = document.createElement("div");
		layer.setAttribute("id", "layer" + l);
		layer.setAttribute("class", "starfield");
		universe.appendChild(layer);
		for (var i = 0; i < starCount; ++i) {
			var xpos = Math.round(Math.random() * width);
			var ypos = Math.round(Math.random() * height);
			for (var s = 0; s < 2; ++s) {
				var star = document.createElement("div");
				star.setAttribute("class", "star" + l);
				star.style.webkitTransform =
					"translate(" + (xpos + s * width) + "px, " + ypos + "px)";
				star.style.transform =
					"translate(" + (xpos + s * width) + "px, " + ypos + "px)";
				star.style.backgroundColor = "white"; //rgb(' + Math.round(Math.random() * 255) + ', ' + Math.round(Math.random() * 255) + ', ' + Math.round(Math.random() * 255) + ')';
				layer.appendChild(star);
			}
		}
		layer.animate(
			[
				{ transform: "translate3d(0, 0, 0)" },
				{ transform: "translate3d(-" + width + "px, 0, 0)" },
			],
			{
				duration: Math.pow(2, layerCount - l) * 1000,
				iterations: Infinity,
			}
		);
	}

	$('button.column').click( function () {
		let modal = document.querySelector("#timeline + .event-modal");
		let selectFrom = $(this).children('.card').children('div');
		modal.querySelector("h3.event-info").innerHTML = selectFrom.children(".card__name").html();
		modal.querySelector("p.event-date").innerHTML = selectFrom.children(".prizes-detail").html();
		modal.querySelector("p.event-details").innerHTML = selectFrom.children(".prizes-info").html();
		modal.classList.add("show");
	});
</script>

