{% load static %}

<head>
	<link
		rel="stylesheet"
		href="{% static 'website/sponsors/css/style.css' %}"
	/>
</head>

<section id="sponsors">
	<div style="width: 100%; height: 100px"></div>

	<h2 class="heading" data-aos="fade-up">Title Sponsors</h2>
	<hr />
	<div class="sponsor-container title-sponsor-container">
		<a href="https://www.codingninjas.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/title/codingninja.png' %}"
		/></a>

		<a href="https://devfolio.co/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/title/devfolio.png' %}"
		/></a>
		<a href="https://www.prepbytes.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/title/prepbytes.png' %}"
		/></a>

		<a href="https://wharfstreetstrategies.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/title/WSS.png' %}"
		/></a>
		<a href="https://xinfin.io/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/title/XDC.png' %}"
		/></a>
	</div>

	<h2 class="heading" data-aos="fade-up">Power Sponsors</h2>
	<hr />
	<div class="sponsor-container power-sponsor-container">
		<a href="https://matic.network/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/matic.png' %}"
		/></a>
		<a href="https://tezos.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/tezos.png' %}"
		/></a>
		<a href="https://www.portis.io/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/portis.png' %}"
		/></a>
		<a href="https://github.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/github.jpg' %}"
		/></a>
		<a href="https://www.digitalocean.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/digitalocean.png' %}"
		/></a>
		<a href="https://www.codechef.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/codechef.jpeg' %}"
		/></a>
		<a href="https://www.jio.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/jio.png' %}"
		/></a>
		<a href="https://proto.io/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/Protoio.png' %}"
		/></a>
		<a href="https://clickup.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/clickup.png' %}"
		/></a>
		<a href="https://www.sashido.io/en/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/sashido.png' %}"
		/></a>
		<a href="https://1password.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/1password.png' %}"
		/></a>
		<a href="https://repl.it/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/replit.png' %}"
		/></a>
		<a href="https://www.voiceflow.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/voiceflow.jpeg' %}"
		/></a>
		<a href="https://www.echoar.xyz/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/echoar.png' %}"
		/></a>
		<a href="https://www.skillunga.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/killunga.png' %}"
		/></a>
		<a href="https://www.mentorbox.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/mentorbox.png' %}"
		/></a>
		<a href="https://www.jetbrains.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/power/jetbrains.jpeg' %}"
		/></a>
	</div>

	<h2 class="heading" data-aos="fade-up">Associate Sponsors</h2>
	<hr />
	<div class="sponsor-container associate-sponsor-container">
		<a href="https://www.wolfram.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/wolfram.png' %}"
		/></a>
		<a href="https://codingblocks.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/Coding_blocks.png' %}"
		/></a>
		<a href="https://www.geeksforgeeks.org/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/gfg.png' %}"
		/></a>
		<a href="https://givemycertificate.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/givemycertificate.jpeg' %}"
		/></a>
		<a href="https://egghead.io/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/egghead.png' %}"
		/></a>
		<a href="https://www.packtpub.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/packt.png' %}"
		/></a>
		<a href="https://balsamiq.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/balsamiq.png' %}"
		/></a>
		<a href="https://www.clerky.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/clerky.png' %}"
		/></a>
		<a href="https://www.taskade.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/taskade.png' %}"
		/></a>
		<a href="https://testmail.app/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/testmailapp.jpeg' %}"
		/></a>
		<a href="https://gen.xyz/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/xyz.png' %}"
		/></a>
		<a href="https://www.elastic.co/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/elastic.png' %}"
		/></a>
		<a href="https://hoverrobotix.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/hoverrobotix.png' %}"
		/></a>
		<a href="https://streamyard.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/streamyard.png' %}"
		/></a>
		<a href="https://indiablockchainalliance.org/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/iba.png' %}"
		/></a>
		<a href="https://www.interviewcake.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/interviewcake.png' %}"
		/></a>
		<a href="https://www.stepsetgo.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/stepsetgo.jpg' %}"
		/></a>
		<a href="https://www.codeasylums.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/codeasylums.png' %}"
		/></a>
		<a href="https://badelog.in/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/badelog.png' %}"
		/></a>
		<a href="https://codeforcause.org/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/codeforcause.jpg' %}"
		/></a>
		<a href="https://commudle.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/commudle.png' %}"
		/></a>
		<a href="https://www.eduvantagebox.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/eduvantagebox.png' %}"
		/></a>
		<a href="https://www.joinglimpse.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/glimpse.jpg' %}"
		/></a>
		<a href="https://juststickers.in/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/juststickers.jpg' %}"
		/></a>
		<a href="https://progate.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/associate/progate.png' %}"
		/></a>
	</div>

	<h2 class="heading" data-aos="fade-up">Internship Sponsors</h2>
	<hr />
	<div class="sponsor-container internship-sponsor-container">
		<a href="https://www.mergeintern.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/internship/merge.png' %}"
		/></a>
		<a href="https://workshopxr.in/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/internship/workshopXR.png' %}"
		/></a>
	</div>

	<h2 class="heading" data-aos="fade-up">Outreach Sponsors</h2>
	<hr />
	<div class="sponsor-container outreach-sponsor-container">
		<a href="https://edtimes.in/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/edtimes.png' %}"
		/></a>
		<a href="https://devfolio.co/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/flutter_valsad.jpg' %}"
		/></a>
		<a href="https://www.hackathonsinternational.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/hackathons_international.png' %}"
		/></a>
		<a href="https://www.noticebard.com/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/noticebard.png' %}"
		/></a>
		<a href="https://www.sakonsa.org/" data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/sakonsa.jpg' %}"
		/></a>
		<a
			href="https://www.meetup.com/tensorflow-user-group-chandigarh/"
			data-aos="fade-up" target="_blank"
			><img
				src="{% static 'website/sponsors/images/outreach/tfug_chd.png' %}"
		/></a>
	</div>

	<div style="width: 100%; height: 100px"></div>
</section>
