{% load static %}

<head>
	<link rel="stylesheet" href="{% static 'website/tracks/css/style.css' %}" />
</head>

<section id="tracks">
	<img
		src="{% static 'website/tracks/images/tracks-bg-upper-desktop.png' %}"
		alt="Tracks Path"
		class="tracks-path"
	/>
	<div id="glassbox-track-1" class="glassbox-track">
		<h3>Social Equanimity</h3>
		<p class="problem-info-1">
			<br />Social Equality essentially revolves around the fact that
			everyone must get the same opportunities and resources. But a lot of
			the time the decisions, especially pertaining to promotions or
			demotions in a company, are heavily affected by the biases and
			stereotypes that already exist consciously or subconsciously in our
			minds. So to prevent such unfair inclinations, develop and implement
			an algorithm in the form of software that records the performance of
			a person upon multiple factors and suggests the name of employees
			along with their performance report to a higher authority for
			promotions or demotions. <br /><br />
		</p>
		<p class="problem-info-2">
			Sometimes we forget about people with disabilities. A lot of times
			their voice gets lost among the masses regarding their issues,
			especially when they need a job to support themselves and their
			families. Taking such a problem into account design a
			software(website/app) that would enable each and every disabled
			person to get registered and to seek jobs based on their potential
			abilities at one click in various government agencies/offices.
			<br /><br />
			<strong
				>Note: There is a special category award for the solutions that
				have an implementation of DAPPs deployed on XinFin</strong
			>
		</p>
	</div>
	<div id="glassbox-track-2" class="glassbox-track">
		<h3>Cyber Regulation</h3>
		<p class="problem-info-1">
			<br />While cryptocurrencies offer pseudonymity, many potential
			applications of the blockchain require smart transactions and
			contracts to be indisputably linked to known identities and thus
			raise important questions about privacy and the security of the data
			stored and accessible on the shared ledger. To develop a project
			regarding this issue. <br /><br />
		</p>
		<p class="problem-info-2">
			Nowadays most of the important data are kept in the internet servers
			whether it be from devices, things, and mobility options whose
			demanding access has been increasing significantly. The surface of
			the devices to the external world is expanding, exposing their
			assets to a variety of attack possibilities. Moreover, the IT and
			digital systems pass through millions of operating situations. One
			out of these situations may compromise security. Device a mechanism
			to heal a system by itself after it is affected by any attacks from
			the external world and solves such related issues
			<br /><br />

			<strong
				>Note: There is a special category award for the solutions that
				have an implementation of DAPPs deployed on XinFin</strong
			>
		</p>
	</div>
	<div id="glassbox-track-3" class="glassbox-track">
		<h3>Facilitating E-Trading</h3>
		<p class="problem-info-1">
			<br />In the future, we expect to carry out the whole process of
			trading online, without the involvement of any physical means except
			the goods/services themselves. Be it the stores or e-commerce
			platforms, the future expects the whole process to have minimal
			intervention and physical contact. You can take Smart shopping malls
			or Drone delivery systems as examples of this. <br /><br />
		</p>
		<p class="problem-info-2">
			In the current scenario, transactions during trading happen every
			other second. India is moving towards plastic cash, which needs more
			security and safety during payments. Nowadays each and every user
			moves around with his/her mobile wherever they go. Taking this into
			account design a system for masking user details on the mobile while
			transacting and establishing if a cardholder is shopping from a
			recognized payment device.
			<br /><br />
			<strong
				>Note: There is a special category award for the solutions that
				have an implementation of DAPPs deployed on XinFin</strong
			>
		</p>
	</div>
	<div id="glassbox-track-4" class="glassbox-track">
		<h3>Automation</h3>
		<p class="problem-info-1">
			<br />A lot of digitization is being done in the law enforcement
			sectors, especially for Traffic Law Enforcement. For instance, the
			installation of video surveillance throughout the cities and
			digitized fine sanctioning but in the backend, they rely heavily on
			humans. The screening and fine sanctioning are done by police
			professionals only. Find a way to automate the process of raising
			red flags for probable law violations and fining them as well.
			<br /><br />
		</p>
		<p class="problem-info-2">
			Who doesn't love looking at stars! Alot of people look at the sky to
			count the stars or rather try to make a pattern among the
			stars(constellation). Develop software which through the camera can
			make some patterns and identify the constellations or find some new
			ones. (Try including fun elements of fact knowledge about space
			while deducing the patterns from the picture clicked)
			<br /><br />
			<strong
				>Note: There is a special category award for the solutions that
				have an implementation of DAPPs deployed on XinFin</strong
			>
		</p>
	</div>

	<script>
		if (window.innerWidth < 600) {
			document.querySelector("#tracks img.tracks-path").src =
				"{% static 'website/tracks/images/tracks-bg-upper-mobile.png' %}";
		} else {
			document.querySelector("#tracks img.tracks-path").src =
				"{% static 'website/tracks/images/tracks-bg-upper-desktop.png' %}";
		}

		setPositionForDesktop();

		function setPositionForDesktop() {
			for (i = 1; i <= 4; i++) {
				let glassBox = document.querySelector(
					`#tracks #glassbox-track-${i}`
				);
				glassBox.style.top =
					getViewHeight(12.5) * (2 * i - 1) - 50 + "px";

				if (i % 2 == 0) {
					glassBox.style.right = getViewWidth(20) + "px";
				} else {
					glassBox.style.left = getViewWidth(20) + "px";
				}
			}
		}

		function getViewHeight(y) {
			return (y * window.innerHeight) / 100;
		}

		function getViewWidth(x) {
			return (x * window.innerWidth) / 100;
		}

		// Using Modal with Timeline
		$("#tracks .glassbox-track").click(function () {
			let modal = document.querySelector("#timeline + .event-modal");
			console.log(this);
			modal.querySelector("h3.event-info").innerHTML = $(this)
				.children("h3")
				.html();
			modal.querySelector("p.event-date").innerHTML = $(this)
				.children(".problem-info-1")
				.html();
			modal.querySelector("p.event-details").innerHTML = $(this)
				.children(".problem-info-2")
				.html();
			modal.classList.add("show");
		});
	</script>
</section>
